BODY {
	background: hsl(210, 0%, 86%);
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Open Sans', Arial, sans-serif, Helvetica;
	line-height: 1.3;
	color: hsl(210, 0%, 0%);
}

DIV {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	box-sizing: border-box;
}

.Container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
  padding-top: 18px;
  padding-bottom: 0px;
}

.Container > DIV {
  border: 0px;
  padding: 0px;
}

.Content IMG.Poster {
	display: block;
	float: left;
	margin-right: 18px;
	border-width: 2px;
	border-color: hsl(210, 80%, 89%);
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	border-radius: 2px;
}

.Content IMG.Poster:hover {
	border-color: hsl(15, 80%, 89%);
}

@media (max-width: 800px) {
	.Content IMG.Poster {
		border-width: 1px;
	}
	.Container {
	  display: grid;
	  grid-template-columns: auto auto auto auto auto;
	}
}

.Padder {
	width: 1100px;
	min-width: 60%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Body {
	margin-top: 45px;
	width: 100%;
}

.Header {
	background-color: hsl(210, 80%, 33%);
	box-shadow: 0px 0px 5px hsl(210, 0%, 50%);
	position: fixed;
	top: 0px;
	width: 100%;
}

.NavigationBar {
	padding-left: 19px;
	padding-right: 19px;
	width: 100%;
}

@media (max-width: 1100px) {
	.NavigationBar {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.NavigationBar .IconDrawing {
	fill: hsl(210, 0%, 99%);
}

.NavigationBar A {
	display: block;
	color: hsl(210, 0%, 99%);
	text-decoration: none;
}

.NavigationBar A.Welcome {
	float: left;
	font-weight: 700;
	font-size: 16px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.NavigationBar A.Menu {
	float: right;
	font-weight: 600;
	font-size: 14px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 13px;
	padding-bottom: 14px;
}

.NavigationBar A.MenuSelected {
	float: right;
	font-weight: 600;
	font-size: 14px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 13px;
	padding-bottom: 11px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 3px;
	border-color: hsl(210, 0%, 99%);
}

.NavigationBar A.Icon {
	font-weight: 700;
	font-size: 16px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.NavigationBar A:hover {
	background-color: hsl(210, 80%, 30%);
}

.NavigationBar A.Icon {
	display: none;
}

.NavigationBar A:last-child {
	display: none;
}

@media screen and (max-width: 700px) {
	.NavigationBar A.MenuSelected {
		padding-bottom: 14px;
		border-style: none;
	}

	.NavigationBar A:not(:first-child) {
		display: none;
	}
	.NavigationBar A.Icon {
		float: right;
		display: block;
	}
	.NavigationBar.Responsive .Icon {
		float: right;
	}
	.NavigationBar.Responsive A {
		float: none;
		display: block;
		text-align: left;
	}
	.NavigationBar.Responsive A:first-child {
		display: none;
	}
}

.Object {
	background-color: hsl(210, 0%, 100%);
	margin: 19px;
	box-shadow: 0px 0px 5px hsl(210, 0%, 70%);
	border-radius: 4px;
	box-sizing: border-box;
}

.Copyright {
	text-align: center;
	height: 100%;
	font-size: 12px;
	color: hsl(210, 0%, 55%);
	margin: 19px;
}

@media (max-width: 1100px) {
	.Object {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 0px;
		box-shadow: 0px 0px 3px hsl(210, 0%, 75%);
	}

	.Copyright {
		margin: 10px;
	}
}

.Label {
	background-color: hsl(210, 100%, 93%);
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 600;
	font-size: 15px;
	color: hsl(210, 50%, 33%);
	width: 100%;
}

.Content {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 0px;
	padding-bottom: 18px;
}

.Content B {
	font-weight: 600;
}

I {
	font-style: normal;
	font-weight: 400;
}

.Content FONT.Big {
	font-size: 16px;
}

.Content P {
	text-align: justify; 
	font-weight: 400;
	margin-left: 0px;
	margin-right: 0;
	margin-top: 18px;
	margin-bottom: 0px;
}

.WelcomeWrapper {
	display: block;
	text-align: center;
	margin-top: 80px;
}

.AwardWrapper {
	display: block;
	text-align: center;
	margin-top: 0px;
}

.Content IMG.MyPhoto {
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 18px;
	margin-top: 18px;
	margin-bottom: 0px;
	padding: 0px;
	border-width: 1px;
	border-color: hsl(210, 0%, 89%);
	border-style: solid;
	border-radius: 2px;
	max-width: 100%;
	box-sizing: border-box;
}

.WelcomeLine {
	display: block;
	margin-top: 15px;
}

@media (max-width: 700px) {
	.WelcomeWrapper {
		margin-top: 7px;
	}
	.Content IMG.MyPhoto {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.WelcomeLine {
		margin-top: 9px;
	}
}

.Content IMG.TopLeft {
	margin-left: 0px;
	margin-right: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Content IMG.Center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	display: block;
	max-width: 100%;
}

.Content IMG.Padded {
	margin: 0px;
	padding: 0px;
}

.Content CENTER {
	padding-top: 18px;
}

.Content A.Text {
	color: hsl(210, 80%, 43%);
	text-decoration: none; 
	font-weight: 600;
}

.Content A.Text:hover {
	color: hsl(15, 80%, 43%);
}

.Content .ButtonBar
{
	width: 100%;
	font-weight: 600;
	margin-top: 7px;
	margin-bottom: 0px;
	color: hsl(210, 0%, 48%);
	text-align: center;
}

.Content A.Button {
	text-decoration: none;
	display: inline-block;
	border-radius: 6px;
	font-size: 15px;
	padding: 9px 11px 9px 11px;
	margin: 11px 3px 0px 3px;
	background: hsl(210, 30%, 95%);
	color: hsl(210, 80%, 39%);
}

.Content A.Button:hover {
	background: hsl(15, 30%, 95%);
	color: hsl(15, 80%, 39%);
}

.Content A.Button.Social {
    padding: 10px 0px 1px 1px;
    margin-top: 5px;
	width: 37px;
    height: 27px;
}

.ResumeHeader {
	width: 100%;
	background-color: hsl(210, 100%, 95%);
	color: hsl(210, 50%, 33%);
	font-weight: 600;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 18px;
	margin-bottom: 18px;
	border-radius: 2px;
}

@media (max-width: 1100px) {
	.ResumeHeader {
		text-align: center;
		border-radius: 0px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}

.ResumeOccupation {
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 16px;
	margin-bottom: 0px;
}

@media (max-width: 1100px) {
	.ResumeOccupation {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.ResumeOccupation T.Title {
	float: left;
	font-weight: 600;
	font-size: 16px;
}

.ResumeOccupation T.TitleCompanySeparator {
	font-weight: 600;
	font-size: 16px;
}

.ResumeOccupation T.Company {
	font-weight: 600;
	font-size: 16px;
}

.ResumeOccupation T.Dates {
	float: right;
	font-weight: 400;
	font-size: 14px;
	margin-top: 1px;
	margin-left: 18px;
	color: hsl(210, 0%, 41%);
}

.ResumeOccupation I.Comment {
	float: left;
	width: 100%;
	font-weight: 400;
	font-size: 12px;
	color: hsl(210, 0%, 48%);
}

T.Hide
{
	display: none;
}

@media (max-width: 700px) {
	.ResumeOccupation T.Title {
		width: 100%;
	}
	.ResumeOccupation T.TitleCompanySeparator {
		display: none;
	}
	.ResumeOccupation T.Dates {
		float: left;
		width: 100%;
		font-size: 14px;
		margin-top: 0px;
		margin-left: 0px;
		color: hsl(210, 0%, 48%);
	}
	.ResumeOccupation I.Comment {
		display: none;
	}
	T.Hide
	{
		display: initial;
	}
}

.JobDescriptionSpace {
	padding-top: 5px;
	padding-bottom: 5px;
}

.JobDescription {
	width: 100%;
	padding-left: 13px;
	padding-right: 36px;
	padding-top: 0px;
	margin-top: 12px;
	margin-bottom: 0px;
	margin-left: 18px;
	border-left: 5px solid hsl(210, 50%, 93%);
	text-align: justify;
}

@media (max-width: 1100px) {
	.JobDescription {
		margin-left: 0px;
		padding-right: 0px;
	}
}

.ResumeItem {
	width: 100%;
	padding-left: 18px;
	padding-right: 18px;
	margin-top: 12px;
	margin-bottom: 0px;
	text-align: justify;
}

@media (max-width: 1100px) {
	.ResumeItem {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.Content IMG.PaperThumbnail {
	display: block;
	float: left;
	margin-right: 18px;
	border-width: 2px;
	border-color: hsl(210, 80%, 89%);
	border-style: solid;
	max-width: 22%;
	box-sizing: border-box;
	border-radius: 2px;
}

.Content IMG.PaperThumbnail:hover {
	border-color: hsl(15, 80%, 89%);
}

@media (max-width: 700px) {
	.Content IMG.PaperThumbnail {
		border-width: 1px;
	}
}

.Paper {
	margin-top: 18px;
	width: 100%;
}

.PaperInfo {
	text-align: left;
	line-height: 22px;
	font-size: 14px;
}

.Content T.Conference {
	font-weight: 400;
	font-size: 12px;
	color: hsl(210, 0%, 48%);
}

.Content A.Title {
	color: hsl(210, 80%, 43%);
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}

.Content A.Title:hover {
	color: hsl(15, 80%, 43%);
}

.ProjectHeader {
	color: hsl(210, 65%, 40%);
	font-weight: 600;
	font-size: 16px;
	margin-top: 18px;
	margin-bottom: 3px;
}

.ProjectContent {
	width: 100%;
	margin-top: 3px;
	text-align: justify;
}